streamlit==1.32.0
llama-index==0.10.68
llama-index-llms-gemini==0.1.7
llama-index-embeddings-gemini==0.1.6
llama-index-vector-stores-supabase==0.1.2
supabase==2.3.7
google-generativeai==0.4.1
pandas==2.2.1
plotly==5.19.0
pypdf==4.1.0
python-dotenv==1.0.1
requests==2.31.0
httpx>=0.24,<0.26
